$mainRojo: #e1261a;
$mainPurple: #612851;
$mainRojoFocus: #f82b1c;
$fancyBoxShadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);

header {
    display: grid;
    grid-area: topArea;
    background: url(https://images.freeimages.com/images/large-previews/b9b/ocean-1142861.jpg) center fixed;
    background-size: cover;
    font-family: "Laila", sans-serif;
    height: fit-content;
    width: 100%;
    & h2 {
        color: $mainPurple;
        font-size: 2.5rem;
        font-weight: 900;
        padding: 3rem 0 3rem 0;
    }
    & p {
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 6rem;
    }
}

.headerCopy {
    padding: 8rem 0 0 1rem;
    width: 50%;
    margin-bottom: 5rem;
}

.navBar {
    grid-area: navBar;
    display: flex;
    background-color: transparent;
    padding: 1rem 1rem 0 1rem;
    z-index: 1;
    position: fixed;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
    color: $mainPurple;
    max-height: fit-content;
    transition: 1s;
    &:hover {
        box-shadow: $fancyBoxShadow;
        background-color: white;
    }
    &__onScroll {
        grid-area: navBar;
        display: flex;
        background-color: white;
        padding: 1rem 1rem 0 1rem;
        position: fixed;
        z-index: 1;
        justify-content: space-between;
        flex-flow: row wrap;
        width: 100%;
        color: $mainPurple;
        max-height: fit-content;
        box-shadow: $fancyBoxShadow;
        transition: 1s;
    }
}

.navBarItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.navLinks {
    padding: 1vh 3vh 0 3vh;
    position: relative;
    display: inline-block;
    & a {
        color: $mainPurple;
        cursor: pointer;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 3px;
            transform: scaleX(0);
            background-color: $mainPurple;

            transition: transform 0.3s;
        }
        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
        &.active:after {
            transform: scaleX(1);
        }
    }
}

#navBarLogo {
    font-size: 6vh;
}

#navBarToggleButton {
    color: $mainPurple;
    display: flex;
    order: 3;
    align-items: center;
    background-color: transparent;
    border: transparent;
}

@media only screen and (min-width: 2200px) {
    
    header {
        min-height: 100rem;
        h2 {
            font-size: 5rem;
            font-weight: 900;
            padding: 5rem 0 2rem 0;
        }
        & p {
            font-size: 2.5rem;
            font-weight: 500;
            padding-bottom: 5rem;
        }
    }

    .headerCopy {
        padding: 20rem 0 0 4rem;
        width: 50%;
        margin-bottom: 5rem;
    }

    .navBarItems {
        font-size: 2rem;
    }

}


@media only screen and (max-width: 1024px) {
    .navBarItems {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 768px) {

    header {
        h2 {
            font-size: 2rem;
            font-weight: 900;
            padding: 2rem 0 2rem 0;
        }
        & p {
            font-size: 1rem;
            font-weight: 500;
            padding-bottom: 4rem;
        }
    }

    .navBar {
        padding: 0;
        display: grid;
        grid-template-areas: "logo items items boton";
        &__onScroll {
            padding: 0;
            display: grid;
            grid-template-areas: "logo items items boton";
        }
    }
    .navBarItems {
        flex-flow: row wrap;
        grid-area: items;
        margin: 0;
        font-size: 2vh;
    }
    #navBarLogo {
        display: grid;
        grid-area: logo;
    }
    #navBarToggleButton {
        display: grid;
        grid-area: boton;
    }
}

@media only screen and (max-width: 425px) {
    header {
        h2 {
            font-size: 1.5rem;
            font-weight: 900;
            padding: 1.5rem 0 1.5rem 0;
        }
        & p {
            font-size: 1rem;
            font-weight: 500;
            padding-bottom: 3rem;
        }
    }

    .headerCopy {
        padding-top: 30%;
    }

    #navBarToggleButton {
        align-items: center;
    }
    .navBar {
        display: grid;
        width: 100vw;
        grid-template-areas:
            "logo boton"
            "items items";

        &__onScroll {
            display: grid;
            width: 100vw;
            grid-template-areas:
                "logo boton"
                "items items";
        }
    }
    .navBarItems {
        flex-flow: column wrap;
    }
}
