$mainRojo: #e1261a;
$mainRojoFocus: #f82b1c;
$mainPurple: #612851;

.introductionContainer {
    grid-area: intro;
    background-color: #ffffff;
    display: grid;
    grid-template-areas:
        "textCopy"
        "boxes";
    justify-content: center;
    align-items: center;
    font-family: "Laila", sans-serif;
    text-align: center;
    &__copy {
        display: grid;
        grid-area: textCopy;
        padding: 4rem 5rem 1rem 5rem;
        & h1 {
            font-size: 3rem;
        }
        & h3 {
            font-size: 1.25rem;
            letter-spacing: 0.1vh;
            margin-left: 20%;
            margin-right: 20%;
            color: $mainPurple;
        }
        & p {
            padding-top: 1.25rem;
            font-size: 1.5rem;
            color: grey;
        }
    }
    &__boxesContainer {
        grid-area: boxes;
        color: $mainPurple;
        display: grid;
        padding: 0 6rem 4rem 6rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        & h1{
            font-size: 2rem;
        }
        & p{
            font-size: 1.5rem;
        }
        &--box {
            display: grid;
            grid-template-areas:
                "img"
                "titulo"
                "texto";
            & p {
                grid-area: texto;
                color: grey;
            }
            & img {
                grid-area: img;
                margin-left: auto;
                margin-right: auto;
                width: 15rem;
                height: 15rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .introductionContainer__boxesContainer {
        grid-template-columns: 1fr ;
        gap: 1rem;
        &--box img {
            width: 10rem;
                height: 10rem;
        }
    }
}

@media only screen and (max-width: 425px) {
    .introductionContainer__copy {
        padding: 10vh;
        & h1 {
            font-size: 2rem;
            padding-top: 3vh;
        }
        & h3{
            font-size: 1rem;
        }
        & p {
            font-size: 1rem;
            padding-top: 1.5rem;
        }
    }
    .introductionContainer__boxesContainer--box{
        & h2{
            font-size: 1.5rem;
        }
        & p{
            font-size: 1rem;
        }
    }
}
