$mainRojo:#E1261A;

#landingPage{
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    width: 100%;
    min-height: 100vh;
    filter: saturate(3) blur(1px);
    background: url(https://images.freeimages.com/images/large-previews/53d/daisies-2-1398443.jpg) center fixed;
    background-size: cover;
}

.button__landing{
    display: grid;
    color: $mainRojo;
    border: transparent;
    background-color: transparent;
    font-size: 15vh;
    border-radius: 5vh;
    padding: 0 5vh 0 5vh;
    cursor: pointer;
    font-family: 'Laila', sans-serif;
    &:hover{
        color: #f52d30;
        transition: .5s;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    }


