$fancyBoxShadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);   
$mainPurple:#612851;


.spiritContainer{
    grid-area: spirit;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(https://images.freeimages.com/images/large-previews/4b8/sunflowers-field-1403855.jpg) center fixed;
    background-size: cover;
    height: auto;
    text-align: center;
    &__box{
        width: 100&;
        padding: 3.5vh;
        border-radius: 1vh;
        margin: 10% 15% 10% 15%;
        background-color: white;
        box-shadow: $fancyBoxShadow;
        & h1{
            width: 100%;
            font-size: 4vh;
            font-weight: bold;
            padding-bottom: 5vh;
            font-family: 'Laila', sans-serif;
            color: $mainPurple;
        }
        & h3{
            color: grey;
            font-weight: 400;
            font-family: 'Laila', sans-serif;
            padding-bottom: 5vh;
        }
        & hr{
            color: $mainPurple;
        }
        & p{
            font-family: 'Laila', sans-serif;
            padding-top: 3vh;
        }
    }
}

@media only screen and (max-width: 768px) {

    .spiritContainer{
        grid-template-columns: 1fr;
    }
    
}

@media only screen and (max-width: 425px) {

    .spiritContainer__box{
        padding: 5vh;
    }
    
}