@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.mainContainer {
  display: grid;
  grid-template-areas: "topArea" "intro" "spirit" "brandBanner" "contacto" "footer";
}

.accessPage {
  display: grid;
  width: 100%;
  min-height: 100vh;
  background: url(https://images.freeimages.com/images/large-previews/53d/daisies-2-1398443.jpg) center fixed;
  background-size: cover;
  place-content: center;
  font-family: "Laila", sans-serif;
}

.accessPage__form {
  display: grid;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 4rem;
}

.accessPage__form:hover {
  transition: 1s;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
}

.accessPage__form--error {
  color: red;
  font-size: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

.accessPage__form--success {
  color: #20b038;
  font-size: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

.accessPage__form input {
  margin: 0.5rem;
  font-family: "Laila", sans-serif;
  border: none;
  border-bottom: 0.5vh solid #9e9e9e;
}

.accessPage__form input:focus {
  outline: none;
  border-bottom: 0.5vh solid #612851;
  transition: 0.2s;
}

.accessPage__form button {
  place-content: center;
  border: none;
  margin: 0.5rem;
  font-family: "Laila", sans-serif;
  background-color: #612851;
  color: white;
  border-radius: 1vh;
  height: 1.5rem;
  width: 90%;
  font-size: 1rem;
  cursor: pointer;
}

.accessPage__form button:hover {
  filter: saturate(2);
  transition: 0.5s;
}

.accessPage__restorePassword {
  display: grid;
  grid-template-areas: "restoreTop" "restoreDescription" "restoreInput" "restoreButton";
  padding: 2rem;
  max-width: 20rem;
  height: fit-content;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
}

.accessPage__restorePassword:hover {
  transition: 1s;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
}

.accessPage__restorePassword--header {
  display: grid;
  grid-area: restoreTop;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(89, 89, 89, 0.18);
  padding: 0 0 1rem 0;
}

.accessPage__restorePassword--description {
  display: grid;
  grid-area: restoreDescription;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
  color: #434343;
  line-height: 1.5rem;
  text-align: center;
  border-bottom: 1px solid rgba(89, 89, 89, 0.18);
}

.accessPage__restorePassword--inputBox {
  display: grid;
  grid-area: restoreInput;
  padding: 1rem 0 1rem 0;
  justify-content: start;
  border-bottom: 1px solid rgba(89, 89, 89, 0.18);
}

.accessPage__restorePassword--inputBox input {
  padding-right: 5rem;
  font-family: "Laila", sans-serif;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 0.5vh solid #9e9e9e;
}

.accessPage__restorePassword--inputBox input:focus {
  outline: none;
  border-bottom: 0.5vh solid #612851;
  transition: 0.2s;
  background-color: white;
}

.accessPage__restorePassword--restoreButton {
  display: grid;
  grid-area: restoreButton;
  margin-top: 1rem;
  gap: 1rem;
}

.accessPage__restorePassword--restoreButton button {
  height: fit-content;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  width: 100%;
  border-radius: 1rem;
  font-family: "Laila", sans-serif;
  background-color: #612851;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.accessPage__restorePassword--restoreButton button:hover {
  filter: saturate(2);
  transition: 0.5s;
}

.accessPage__restorePassword--restoreButton #restorePasswordDisabled {
  display: grid;
  place-content: center;
  height: fit-content;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-family: "Laila", sans-serif;
  background-color: #612851;
  color: white;
  font-size: 1rem;
  opacity: 0.5;
  transition: 1s;
  cursor: not-allowed;
}

#forgotPasswordLink {
  margin-left: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  color: #612851;
  text-decoration: underline;
}

.signInWithService {
  display: flex;
  justify-content: space-around;
  grid-template-rows: 1fr;
  padding-top: 1rem;
}

.signInWithService button {
  height: 8vh;
  width: 8vh;
  background-color: transparent;
}

.signInWithServiceButton__disabled {
  opacity: 0.5;
  filter: grayscale(1);
}

.signInWithServiceButton__disabled button:hover {
  filter: none;
  cursor: not-allowed;
}

.signInWithServiceButton img {
  height: 8vh;
  width: 8vh;
}

#registerDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#registerDisabled:hover {
  filter: none;
}

@media only screen and (max-width: 320px) {
  .accessPage {
    border-radius: 0;
  }
  .accessPage__restorePassword {
    border-radius: 0;
    justify-content: center;
  }
}

#landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  filter: saturate(2) blur(1px);
  background: url(https://images.freeimages.com/images/large-previews/53d/daisies-2-1398443.jpg) center fixed;
  background-size: cover;
}

.buttonLanding {
  display: grid;
  color: #E1261A;
  place-content: center;
  border: transparent;
  background-color: transparent;
  font-size: 6rem;
  padding: 0 4rem 0 4rem;
  border-radius: 4rem;
  cursor: pointer;
  font-family: 'Laila', sans-serif;
}

.buttonLanding:hover {
  color: #f52d30;
  transition: .5s;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.buttonLanding__client {
  display: grid;
  color: #E1261A;
  place-content: center;
  border: transparent;
  background-color: transparent;
  font-size: 2rem;
  padding: 0 4rem 0 4rem;
  border-radius: 4rem;
  cursor: pointer;
  font-family: 'Laila', sans-serif;
}

.buttonLanding__client:hover {
  color: #f52d30;
  transition: .5s;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

header {
  display: grid;
  grid-area: topArea;
  background: url(https://images.freeimages.com/images/large-previews/b9b/ocean-1142861.jpg) center fixed;
  background-size: cover;
  font-family: "Laila", sans-serif;
  width: 100%;
}

header h2 {
  color: #612851;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 3rem 0 3rem 0;
}

header p {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 6rem;
}

.headerCopy {
  padding: 8rem 0 0 1rem;
  width: 50%;
  margin-bottom: 5rem;
}

.navBar {
  grid-area: navBar;
  display: flex;
  background-color: transparent;
  padding: 1rem 1rem 0 1rem;
  z-index: 1;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  flex-flow: row wrap;
  color: #612851;
  max-height: fit-content;
  transition: 1s;
}

.navBar:hover {
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.navBar__onScroll {
  grid-area: navBar;
  display: flex;
  width: 100%;
  background-color: white;
  padding: 1rem 1rem 0 1rem;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  flex-flow: row wrap;
  color: #612851;
  max-height: fit-content;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  transition: 1s;
}

.navBarItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.navLinks {
  padding: 1vh 3vh 0 3vh;
  position: relative;
  display: inline-block;
}

.navLinks a {
  color: #612851;
  cursor: pointer;
}

.navLinks a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  background-color: #612851;
  transition: transform 0.3s;
}

.navLinks a:hover:after {
  transform: scaleX(1);
}

.navLinks a.active:after {
  transform: scaleX(1);
}

#navBarLogo {
  font-size: 6vh;
}

#navBarToggleButton {
  color: #612851;
  display: flex;
  order: 3;
  align-items: center;
  background-color: transparent;
  border: transparent;
}

@media only screen and (min-width: 2200px) {
  header {
    min-height: 100rem;
  }
  header h2 {
    font-size: 5rem;
    font-weight: 900;
    padding: 5rem 0 2rem 0;
  }
  header p {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 5rem;
  }
  .headerCopy {
    padding: 20rem 0 0 4rem;
    width: 50%;
    margin-bottom: 5rem;
  }
  .navBarItems {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .navBarItems {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  header h2 {
    font-size: 2rem;
    font-weight: 900;
    padding: 2rem 0 2rem 0;
  }
  header p {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 4rem;
  }
  .navBar {
    padding: 0;
    display: grid;
    grid-template-areas: "logo items items boton";
  }
  .navBar__onScroll {
    padding: 0;
    display: grid;
    grid-template-areas: "logo items items boton";
  }
  .navBarItems {
    flex-flow: row wrap;
    grid-area: items;
    margin: 0;
    font-size: 2vh;
  }
  #navBarLogo {
    display: grid;
    grid-area: logo;
  }
  #navBarToggleButton {
    display: grid;
    grid-area: boton;
  }
}

@media only screen and (max-width: 425px) {
  header h2 {
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1.5rem 0 1.5rem 0;
  }
  header p {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 3rem;
  }
  .headerCopy {
    padding-top: 30%;
  }
  #navBarToggleButton {
    align-items: center;
  }
  .navBar {
    display: grid;
    width: 100vw;
    grid-template-areas: "logo boton" "items items";
  }
  .navBar__onScroll {
    display: grid;
    width: 100vw;
    grid-template-areas: "logo boton" "items items";
  }
  .navBarItems {
    flex-flow: column wrap;
    font-size: 1rem;
    padding: 2rem;
  }
}

.introductionContainer {
  grid-area: intro;
  background-color: #ffffff;
  display: grid;
  grid-template-areas: "textCopy" "boxes";
  justify-content: center;
  align-items: center;
  font-family: "Laila", sans-serif;
  text-align: center;
}

.introductionContainer__copy {
  display: grid;
  grid-area: textCopy;
  padding: 4rem 5rem 1rem 5rem;
}

.introductionContainer__copy h1 {
  font-size: 3rem;
}

.introductionContainer__copy h3 {
  font-size: 1.25rem;
  letter-spacing: 0.1vh;
  margin-left: 20%;
  margin-right: 20%;
  color: #612851;
}

.introductionContainer__copy p {
  padding-top: 1.25rem;
  font-size: 1.5rem;
  color: grey;
}

.introductionContainer__boxesContainer {
  grid-area: boxes;
  color: #612851;
  display: grid;
  padding: 0 6rem 4rem 6rem;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 3rem;
}

.introductionContainer__boxesContainer h1 {
  font-size: 2rem;
}

.introductionContainer__boxesContainer p {
  font-size: 1rem;
}

.introductionContainer__boxesContainer--box {
  display: grid;
  grid-template-areas: "img" "titulo" "texto";
}

.introductionContainer__boxesContainer--box p {
  grid-area: texto;
  color: grey;
}

.introductionContainer__boxesContainer--box img {
  grid-area: img;
  margin-left: auto;
  margin-right: auto;
  width: 15rem;
  height: 15rem;
}

@media only screen and (max-width: 768px) {
  .introductionContainer__boxesContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .introductionContainer__boxesContainer--box img {
    width: 10rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 425px) {
  .introductionContainer__copy {
    padding: 10vh;
  }
  .introductionContainer__copy h1 {
    font-size: 2rem;
    padding-top: 3vh;
  }
  .introductionContainer__copy h3 {
    font-size: 1rem;
  }
  .introductionContainer__copy p {
    font-size: 1rem;
    padding-top: 1.5rem;
  }
  .introductionContainer__boxesContainer--box h2 {
    font-size: 1.5rem;
  }
  .introductionContainer__boxesContainer--box p {
    font-size: 1rem;
  }
}

.spiritContainer {
  grid-area: spirit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url(https://images.freeimages.com/images/large-previews/4b8/sunflowers-field-1403855.jpg) center fixed;
  background-size: cover;
  text-align: center;
}

.spiritContainer__box {
  padding: 3.5vh;
  border-radius: 1vh;
  margin: 10% 15% 10% 15%;
  background-color: white;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.spiritContainer__box h1 {
  width: 100%;
  font-size: 4vh;
  font-weight: bold;
  padding-bottom: 5vh;
  font-family: 'Laila', sans-serif;
  color: #612851;
}

.spiritContainer__box h3 {
  color: grey;
  font-weight: 400;
  font-family: 'Laila', sans-serif;
  padding-bottom: 5vh;
}

.spiritContainer__box hr {
  color: #612851;
}

.spiritContainer__box p {
  font-family: 'Laila', sans-serif;
  padding-top: 3vh;
}

@media only screen and (min-width: 2300px) {
  .spiritContainer__box h1 {
    font-size: 4rem;
  }
  .spiritContainer__box h3 {
    font-size: 2.5rem;
  }
  .spiritContainer__box p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .spiritContainer {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 425px) {
  .spiritContainer__box {
    padding: 5vh;
  }
  .spiritContainer__box h3, .spiritContainer__box p {
    text-align: start;
  }
}

.brandBannerContainer {
  grid-area: brandBanner;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: white;
}

.brandBannerContainer ul {
  display: flex;
  width: 100%;
  padding: 1rem;
  margin: 2rem;
  flex-flow: row wrap;
  justify-content: space-around;
}

.brandBannerContainer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vh;
  height: 10vh;
  margin: 1vh;
}

.brandBannerContainer ul li img {
  width: 10rem;
}

@media only screen and (max-width: 425px) {
  .brandBannerContainer ul {
    flex-flow: column wrap;
  }
  .brandBannerContainer ul li {
    margin: 3vh auto 3vh auto;
  }
}

#whatsappButtonContainer {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 3rem;
  width: fit-content;
  z-index: 2;
  bottom: 40px;
  right: 40px;
  opacity: 0.9;
  border: none;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  border-radius: 1vh;
  background-color: #20B038;
  font-family: 'Laila', sans-serif;
  cursor: pointer;
}

#whatsappButtonContainer:hover {
  transform: scale(1.05);
  transition: .5s;
  opacity: 1;
  filter: saturate(1.25);
}

#whatsappButton {
  display: flex;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1300px) {
  #whatsappButtonContainer {
    font-size: 1.5rem;
  }
  #whatsappButton {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  #whatsappButtonContainer {
    bottom: 0px;
    right: 0px;
    border-radius: 0;
    width: 100%;
  }
}

#goTopArrow {
  display: flex;
  position: fixed;
  height: 3rem;
  width: 3rem;
  z-index: 2;
  bottom: 7rem;
  right: 4rem;
  opacity: 0.5;
  border: none;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  background-color: #4d4d4d;
  cursor: pointer;
}

#goTopArrow:hover {
  opacity: 1;
}

#goTopArrow button {
  color: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

#goTopArrow button:hover {
  background-color: transparent;
  transition: .5s;
}

#goTopArrow button:focus {
  background-color: #612851;
  outline-offset: none;
}

@media only screen and (max-width: 768px) {
  #goTopArrow {
    bottom: 4rem;
    right: 2rem;
  }
}

.contactContainer {
  display: grid;
  grid-area: contacto;
  place-content: center;
  height: fit-content;
  padding: 10vh;
  width: 100vw;
  background-color: #262626;
  border: none;
}

.contactContainer__form {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  background-color: white;
  width: 100%;
  height: fit-content;
}

.contactContainer__form--img {
  background: url(https://images.freeimages.com/images/large-previews/316/offices-1233432.jpg) center;
  background-size: cover;
  width: 100%;
  min-height: 150vh;
}

.contactContainer__form--text {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10vh;
}

.contactContainer__form--text h1 {
  font-family: "Laila", sans-serif;
  color: #612851;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 6vh;
  padding-top: 3vh;
}

.contactContainer__form--text p {
  font-family: "Laila", sans-serif;
  padding-bottom: 3vh;
  color: gray;
  text-align: left;
}

.inputContainer {
  display: grid;
  font-family: "Laila", sans-serif;
  font-weight: 500;
}

.inputContainer__each {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}

.inputContainer__each input {
  font-family: "Laila", sans-serif;
  border: none;
  border-bottom: 0.5vh solid #9e9e9e;
}

.inputContainer__each input:focus {
  outline: none;
  border-bottom: 0.5vh solid #612851;
  transition: 0.2s;
}

.inputContainer__each--error {
  color: red;
  padding-bottom: 2vh;
}

.inputContainer__button {
  border: none;
  font-family: "Laila", sans-serif;
  background-color: #612851;
  color: white;
  border-radius: 1vh;
  height: 3rem;
  width: 100%;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.inputContainer__button:hover {
  filter: saturate(2);
  transition: 0.5s;
}

.inputContainer__button--disabled {
  border: none;
  font-family: "Laila", sans-serif;
  background-color: #612851;
  color: white;
  border-radius: 1vh;
  font-size: 1.25rem;
  height: 3rem;
  width: 100%;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  transition: 0.5s;
}

.inputContainer__successAlert {
  margin-top: 3vh;
  padding: 3vh;
  opacity: 0.9;
  border-radius: 1vh;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  background-color: #20b038;
  border: solid 2px #0b9121;
  color: white;
}

@media only screen and (min-width: 1800px) {
  .contactContainer h1 {
    font-size: 4rem;
  }
  .contactContainer p {
    font-size: 2rem;
  }
  .contactContainer__form--text {
    height: 75%;
  }
  .inputContainer {
    font-size: 2.5rem;
  }
  .inputContainer input {
    font-size: 2rem;
  }
  .inputContainer button {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .contactContainer__form {
    display: grid;
    border-radius: 1vh;
    grid-template-columns: 1fr;
    grid-template-areas: "foto" "formulario" "formulario" "formulario";
  }
  .contactContainer__form--img {
    display: none;
    grid-area: foto;
  }
  .contactContainer__form--text {
    display: grid;
    padding-top: 6rem;
    background: url(https://images.freeimages.com/images/large-previews/316/offices-1233432.jpg) center;
    background-size: cover;
    grid-area: formulario;
  }
  .contactContainer__form--text h1 {
    display: none;
  }
  .contactContainer__form--text p {
    display: none;
  }
  .inputContainer {
    margin-top: -12rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 1rem;
  }
  .inputContainer button {
    margin-top: 1rem;
    font-size: 1rem;
    width: 100%;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
  }
}

.footerContainer {
  display: grid;
  grid-area: footer;
}

.footerItems {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  width: 100vw;
  height: fit-content;
  color: black;
  padding: 6vh;
  background-color: white;
  border: none;
}

.footerItems__column {
  height: 100%;
  margin: 4vh;
  display: grid;
  justify-content: center;
  color: black;
  font-family: 'Laila', sans-serif;
}

.footerItems__column--brand {
  width: 25%;
  font-family: 'Laila', sans-serif;
  line-height: 1.5rem;
}

.footerItems__column h3 {
  display: grid;
  place-content: center;
  padding-bottom: 3vh;
}

.footerItems__column ul li {
  display: grid;
  place-content: center;
  padding: 1vh;
}

.footerItems__column a {
  color: black;
}

.footerItems__column a:hover {
  color: #612851;
  transition: .5s;
}

.footerItems__footer {
  display: grid;
  font-family: 'Laila', sans-serif;
  place-content: center;
  justify-content: center;
  min-height: 25vh;
  color: #666666;
}

@media only screen and (max-width: 768px) {
  .footerItems {
    display: flex;
    place-content: center;
    flex-flow: wrap column;
  }
  .footerItems__column--brand {
    width: 100%;
  }
  .footerItems__column--brand a {
    place-content: center;
    padding-bottom: 3vh;
  }
}

.diseñoWebContainer {
  display: grid;
  place-content: center;
  height: 40rem;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-family: 'Laila', sans-serif;
  background-color: #111111;
  box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

.jokeContainer {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  justify-content: center;
  background-image: url(https://i.pinimg.com/736x/10/1b/ac/101bac727e8c58648c5e50e9a54d38fa.jpg);
  background-repeat: repeat;
  align-items: center;
  background-color: #242424;
}

.jokeContainer__main {
  display: grid;
  justify-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jokeContainer__main::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.jokeContainer__main iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=estilos.css.map */